*{
    box-sizing: border-box;
  }
.container{
    margin-top:100px;
    width:100%;
    background-color: rgb(16, 170, 16);
}
table{
    border-collapse: collapse;
    table-layout: auto;
    margin:0px auto;
    width:100%;
}
form{
    padding-left:1%;
}
input{
    font-size: large;
}
::placeholder{
    text-align: center;
}
p{
    text-align: center;
    font-weight: bolder;
    color:rgb(225, 235, 225);
    font-size:2.28rem;
    padding:2px;

}
th{
    border-bottom: 2px solid black;
    padding:5px;
    font-size:x-large;
    background-color:rgb(16, 170, 16);
    color:rgb(225, 235, 225);
}
td{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: larger;
    background-color: antiquewhite;
}
input[type=submit]{
    width:50%;
}